body {
  background-color: #D8D8D8;
  padding-top: 3%;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

div#menu {
  float: right;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

div#tablas {
  background-color: #A9BCF5;
}

table {
  text-align: center;
}

t

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1#tit {
  font-size: 80px;
}

div#opag {
  float: right;
  padding-right: 15%;
  input#num {
    width: 30px;
  }
}

div#obus {
  float: left;
  padding-top: 27px;
  padding-left: 12%;
}

.mostrar_tit {
  font-size: 15px;
  font-family: fantasy;
  font-weight: lighter; 
  text-decoration: italic;
  color: #084B8A;
}

.titulos {
  font-family: tahoma, georgia, "times new roman", times, serif;
  font-size: 50px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #084B8A;
}

.titprincipal {
  font-family: tahoma, georgia, "ubuntu font-family", times, serif;
  font-size: 60px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #084B8A;
}

